* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 0px 0px 20px 2px lightgrey;
  background-color: white;
  width: fit-content;
  max-width: 70%;
  padding: 24px;
  .sub-container {
    width: 100%;
    display: block;
    left: 110%;
    width: 450px;
    header {
      color: rgb(0, 11, 72);
      text-align: right;
      direction: rtl;
      font-size: 32px;
      margin-bottom: 30px;
    }
    div {
      position: relative;
      top: 0px;
      left: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px 15px;
      input,
      select {
        border: 3px solid rgb(21, 176, 203);
        direction: rtl;
        padding: 4px;
        font-size: 16px;
        border-radius: 8px;
        color: rgb(0, 11, 72);
        &::placeholder {
          color: rgb(0, 11, 72);
        }
        &:focus {
          outline: none;
        }
        &.req {
          border-color: red;
        }
      }
    }
    p {
      margin: 50px auto 0px;
      background-color: rgb(21, 176, 203);
      width: 90%;
      text-align: center;
      color: white;
      border-radius: 8px;
      padding: 8px 0px;
    }
  }

  .second-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    header {
      color: rgb(0, 11, 72);
      text-align: right;
      direction: rtl;
      font-size: 32px;
      margin-bottom: 30px;
      border-bottom: 2px solid rgb(21, 176, 203);
      width: fit-content;
    }
    .grid-3 {
      direction: rtl;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
      label {
        background-color: lightgray;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        padding: 12px;
        border-radius: 8px;
        &.req {
          span {
            color: red;
          }
          &.adress {
            input {
              border-bottom-color: red;
            }
          }
        }
        span {
          font-size: 12px;
          color: gray;
        }
        select {
          display: block;
          width: 100%;
          border: none;
          background-color: lightgray;
          &:focus {
            outline: none;
          }
          option {
            color: rgb(0, 11, 72);
          }
        }
        &.adress {
          input {
            display: block;
            width: 100%;
            background-color: lightgray;
            border: none;
            border-bottom: 1px solid transparent;
            transition: border 0.3s;
            &:focus {
              outline: none;
              border-bottom: 1px solid gray;
            }
          }
        }
        &.reminder {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 20px;
          input {
            appearance: none;
            width: 40px;
            height: 20px;
            background-color: rgb(21, 176, 203);
            border-radius: 100px;
            position: relative;
            &:focus {
              outline: none;
            }
            &::after {
              content: "";
              width: 18px;
              height: 18px;
              border: 1px solid gray;
              display: block;
              border-radius: 50%;
              background-color: mintcream;
              position: absolute;
              right: 0px;
              top: 0px;
              transform: translateX(0px);
              transition: all 0.3s;
            }
            &::before {
              content: "on";
              height: 15px;
              display: block;
              position: absolute;
              right: 100%;
              top: 50%;
              transform: translate(130%, -50%);
              font-size: smaller;
            }
            &:checked {
              background-color: lightgray;
              &:after {
                right: 100%;
                transform: translateX(100%);
              }
              &::before {
                content: "off";
                display: block;
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        .date-input {
          background-color: lightgray;
          border: none;
          border: none;
          box-sizing: border-box;
          outline: 0;
          position: relative;
          width: 100%;

          &::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .adress,
      .reminder {
        grid-column: 1/4;
      }
      .reminder {
        background-color: white;
      }
      button {
        margin: auto;
        background-color: rgb(21, 176, 203);
        width: 90%;
        text-align: center;
        color: white;
        border-radius: 8px;
        padding: 8px 0px;
        border: none;
        display: block;
        grid-column: 1/4;
        font-size: 18px;
      }
    }
  }
}
