* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  .container {
    font-size: 20px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: fit-content;
    max-width: 70%;
    padding: 24px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 50px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 2px lightgrey;
    .progress {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: row-reverse;
      &.two {
        &::before {
          background-color: rgb(21, 176, 203);
        }
      }
      &.three {
        &::after {
          background-color: rgb(21, 176, 203);
        }
      }
      div {
        width: 50px;
        height: 50px;
        border: 2px solid lightgray;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: lightgray;
        &.active {
          border-color: rgb(21, 176, 203);
          color: rgb(0, 11, 72);
        }
      }
      &::after {
        content: "";
        width: calc(((100% - (3 * 50px)) / 2) - 10px);
        height: 2px;
        background-color: lightgray;
        position: absolute;
        left: 55px;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        width: calc(((100% - (3 * 50px)) / 2) - 20px);
        height: 2px;
        background-color: lightgray;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .slider {
      overflow: hidden;
      width: 450px;
      form {
        // max-width: 700px;
        // width: 35%;
        // min-width: 400px;
        display: flex;
        justify-content: space-between;
        gap: 150px;
        transition: transform 0.3s;
        &.nextStep {
          transform: translateX(-600px);
        }
        div {
          width: 100%;
          display: block;
          left: 110%;
          width: 450px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          &:nth-child(2) {
            .select-container {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 15px;
              margin-bottom: 15px;
              select {
                border: 3px solid rgb(21, 176, 203);
                direction: rtl;
                padding: 4px;
                font-size: 16px;
                border-radius: 8px;
                color: rgb(0, 11, 72);
                &::placeholder {
                  color: rgb(0, 11, 72);
                }
                &:focus {
                  outline: none;
                }
                &.req {
                  border-color: red;
                }
              }
            }
          }
          &:first-child {
            .invoice {
              display: none;
            }
            div {
              position: relative;
              top: 0px;
              left: 0px;
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;
              gap: 15px;
              input,
              select {
                border: 3px solid rgb(21, 176, 203);
                direction: rtl;
                padding: 4px;
                font-size: 16px;
                border-radius: 8px;
                color: rgb(0, 11, 72);
                &::placeholder {
                  color: rgb(0, 11, 72);
                }
                &:focus {
                  outline: none;
                }
                &.req {
                  border-color: red;
                }
                option {
                  border: 3px solid rgb(21, 176, 203);
                  direction: rtl;
                  padding: 4px;
                  font-size: 16px;
                  border-radius: 8px;
                  color: rgb(0, 11, 72);
                }
              }
            }
            .drag-area {
              height: 50px;
              width: 100%;
              border-radius: 8px;
              display: block;
              background-color: lightgray;
              margin: 15px auto;
              display: flex;
              align-items: center;
              justify-content: center;
              &.req {
                p {
                  color: red;
                }
              }
              .drop-text {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                .upload_icon {
                  width: 40px;
                }
              }
              &.active {
                background-color: rgb(183, 183, 183);
              }
              header {
                display: block;
                width: 100%;
                font-size: 30px;
                font-weight: 500;
              }
              > img {
                height: 50px;
                width: fit-content;
                object-fit: cover;
                border-radius: 5px;
              }
            }
          }
        }
        > p {
          margin: 50px auto 0px;
          background-color: rgb(21, 176, 203);
          width: 90%;
          text-align: center;
          color: white;
          border-radius: 8px;
          padding: 8px 0px;
        }
        button,
        .nextBtn {
          display: block;
          width: 100%;
          background-color: rgb(21, 176, 203);
          border: none;
          color: white;
          padding: 8px 0px;
          border-radius: 8px;
        }
        .nextBtn {
          text-align: center;
          margin: 20px auto;
        }
      }
    }
  }
}
