* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
body .container {
  font-size: 20px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 50px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 2px lightgrey;
}
body .container .progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
}
body .container .progress div {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: lightgray;
}
body .container .progress div:first-child {
  border-color: rgb(21, 176, 203);
  color: rgb(0, 11, 72);
}
body .container .progress::after {
  content: "";
  width: calc((100% - 150px) / 2 - 10px);
  height: 2px;
  background-color: lightgray;
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
}
body .container .progress::before {
  content: "";
  width: calc((100% - 150px) / 2 - 20px);
  height: 2px;
  background-color: lightgray;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}
body .container .slider {
  overflow: hidden;
  width: 450px;
}
body .container .slider form {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  transition: transform 0.3s;
}
body .container .slider form.nextStep {
  transform: translateX(-600px);
}
body .container .slider form div {
  width: 100%;
  display: block;
  left: 110%;
  width: 450px;
}
body .container .slider form div:nth-child(2) .select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}
body .container .slider form div:nth-child(2) .select-container select {
  border: 3px solid rgb(21, 176, 203);
  direction: rtl;
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
  color: rgb(0, 11, 72);
}
body .container .slider form div:nth-child(2) .select-container select::-moz-placeholder {
  color: rgb(0, 11, 72);
}
body .container .slider form div:nth-child(2) .select-container select::placeholder {
  color: rgb(0, 11, 72);
}
body .container .slider form div:nth-child(2) .select-container select:focus {
  outline: none;
}
body .container .slider form div:first-child div {
  position: relative;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
body .container .slider form div:first-child div input,
body .container .slider form div:first-child div select {
  border: 3px solid rgb(21, 176, 203);
  direction: rtl;
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
  color: rgb(0, 11, 72);
}
body .container .slider form div:first-child div input::-moz-placeholder, body .container .slider form div:first-child div select::-moz-placeholder {
  color: rgb(0, 11, 72);
}
body .container .slider form div:first-child div input::placeholder,
body .container .slider form div:first-child div select::placeholder {
  color: rgb(0, 11, 72);
}
body .container .slider form div:first-child div input:focus,
body .container .slider form div:first-child div select:focus {
  outline: none;
}
body .container .slider form div:first-child div input option,
body .container .slider form div:first-child div select option {
  border: 3px solid rgb(21, 176, 203);
  direction: rtl;
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
  color: rgb(0, 11, 72);
}
body .container .slider form div:first-child .drag-area {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  display: block;
  background-color: lightgray;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .slider form div:first-child .drag-area .drop-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
body .container .slider form div:first-child .drag-area .drop-text .upload_icon {
  width: 40px;
}
body .container .slider form div:first-child .drag-area.active {
  background-color: rgb(183, 183, 183);
}
body .container .slider form div:first-child .drag-area header {
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
}
body .container .slider form div:first-child .drag-area > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
body .container .slider form > p {
  margin: 50px auto 0px;
  background-color: rgb(21, 176, 203);
  width: 90%;
  text-align: center;
  color: white;
  border-radius: 8px;
  padding: 8px 0px;
}
body .container .slider form button {
  display: block;
  width: 100%;
  background-color: rgb(21, 176, 203);
  border: none;
  color: white;
  padding: 8px 0px;
  border-radius: 8px;
}/*# sourceMappingURL=requestSerivce.css.map */